@import '../../app';

.menu {
  display: $none;
  margin: 0.3rem;
  @media (max-width: 956px) { display: block }
}

.sidenav {
  display: $displayFlex;

  .nav {
    box-shadow: -1px 0px 30px -12px $defaultColor;
    background: $whiteColor;
    width: 300px;
    height: 100%;
    position: $fixedPosition;
    overflow-y: scroll;
    user-select: $none;
    z-index: 796;

    header {
      display: $displayFlex;
      background: $whiteColor;
      border-bottom: 1px solid $defaultColor;
      position: $fixedPosition;
      width: 300px;
      cursor: $pointer;
      outline: $none;

      p, img { background: $whiteColor; margin: 0.4rem }
      img { width: 30px; height: 30px }
    }

    .links {
      background: $whiteColor;
      margin-top: 2.3rem;

      .cinema {
        p {
          width: 100%;
          margin: 0;
          font-size: 1.2em;
          cursor: $pointer;
          transition: 0.3s ease-in-out;

          &:hover {
            box-shadow: inset 0px 2px 333px 107px rgba(0, 121, 250, 0.4);
            color: $whiteColor;
          }
        }

        .halls {
          p { padding-left: 1.5rem; font-size: 1em }

          .movies {
            div {
              @include flex-content;
              width: 100%;

              p {
                font-size: 0.8em;
                padding: 0.5rem 0 0.5rem 2.5rem;
                outline: $none;
              }
            }
          }
        }
      }
    }
  }
}
