<i class="fa fa-bars fa-2x menu" (click)="toggledSidenav = !toggledSidenav"></i>

<div class="sidenav" *ngIf="toggledSidenav">
  <nav class="nav nav-pills flex-column">
    <header class="nav__header" routerLink="/" (click)="selectedMovieId = null">
      <img src="../../../assets/images/cinema_booking.png">
      <p>Cinema Booking</p>
    </header>

    <div class="nav__cinemas">
      <div class="cinema" *ngFor="let cinema of cinemas">
        <p class="nav-link" (click)="toggleCinemas(cinema)">
          {{ cinema.name }}
        </p>

        <div class="halls" *ngIf="cinema.collapsed">
          <div *ngFor="let hall of cinema.halls">
            <p class="nav-link" (click)="hall.collapsed = !hall.collapsed">
              {{ hall.name }}
            </p>

            <div class="movies" *ngIf="hall.collapsed">
              <div *ngFor="let movie of hall.movies">
                <div>
                  <p
                    class="nav-link"
                    [ngClass]="{'active': selectedMovieId === movie.id}"
                    (click)="navigateToMovie(cinema.id, hall.id, movie.id)"
                  >
                    {{ movie.name }}
                    ({{ movie.sessions.length }} Sessions)
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
</div>
