@import '../../app.scss';

.sidenav {
  display: $displayFlex;

  .nav {
    box-shadow: -1px 0px 30px -12px $defaultColor;
    background: $whiteColor;
    width: 300px;
    height: 100vh;
    position: fixed;
    overflow-y: scroll;
    user-select: none;

    header {
      display: $displayFlex;
      background: $whiteColor;
      border-bottom: 1px solid $defaultColor;
      position: fixed;
      width: 300px;
      cursor: $pointer;

      p {
        margin: 0.4rem 0.3rem;
        background: $whiteColor;
      }

      img {
        background: $whiteColor;
        width: 30px;
        height: 30px;
        margin: 0.4rem 0.3rem;
      }
    }

    .links {
      background: $whiteColor;
      margin-top: 2.4rem;

      .cinema {
        p {
          width: 300px;
          margin: 0;
          background: $whiteColor;
          cursor: $pointer;
          transition: 0.4s ease-in;

          &:hover { box-shadow: inset 0px 2px 300px 107px #99f3bd }
        }

        .halls {
          p {
            padding-left: 2rem;
            font-size: 0.9em;
          }

          .movies {
            div {
              display: flex;
              justify-content: center;
              align-items: center;
              width: 300px;
              background: $whiteColor;

              .dot {
                height: 10px;
                width: 10px;
                margin-left: 3rem;
                padding: 0.2rem;
                background-color: $defaultColor;
                border-radius: 50%;
              }

              p {
                font-size: 0.7em;
                padding: 0.5rem;
                transition: 0.4s ease-in;

                &:hover { box-shadow: inset 0px 2px 300px 107px #99f3bd }
              }
            }
          }
        }
      }
    }
  }
}
